<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="250314"
    android:versionName="14.03.2025"
    package="overlay.com.miuix.editor">
    <overlay
        android:priority="999"
        android:targetPackage="com.miuix.editor"
        android:isStatic="true"
        android:requiredSystemPropertyName=""
        android:requiredSystemPropertyValue="" />
</manifest>
